body {
  background: linear-gradient(90deg, rgba(19, 39, 167, 1) 15%, rgba(0, 0, 0, 1) 86%);;
  color: white;
}

header {
  margin: 2%;
  height: 45px;
}

#apresentacao__do__titulo {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-family: "Public Sans", sans-serif;
  font-size: 100px;
}

#apresentacao__texto {
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: "Open Sans", sans-serif;
}

a {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-family: "Public Sans", sans-serif;
}

#apresentacao_sobre_mim {
  display: flex;
  justify-items: center;
  margin: 180px;
}

#sobre__mim {
  padding-right: 90px;
}

#johnny__img{
    width: 875px;
    height: 550px;
}

#apresentacao__links {
    display: flex;
    justify-content: center;
    font-family: "Public Sans", sans-serif;
  }

#apresentacao__links__link {
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    transition: 0.7s;
   
  }

  #apresentacao__links__link:hover {
    color: cyan;
    scale: 1.1;
    transition: 0.7s;
  }

